.input-wrapper {
	display: flex;
	flex-direction: column;
	gap: 0.2rem;

	.input-base {
		width: 100%;
		font-family: $font-base;
		font-size: $base-size;
		padding: 0.75rem 1rem;
		border: 1px solid $color-grey;
		border-radius: $border-radius;

		&:focus {
			outline: 1px solid $color-cucumber;
		}

		&__readonly {
			background-color: transparent;
			border: none;
			padding-left: 0;
			color: $color-grey;

			&:focus {
				outline: none;
			}
		}
	}
}
