.page {
	height: 100%;
	background-color: $color-light-beige;

	&__wrapper {
		padding: 3rem 2rem 8rem 2rem;
	}
}

@media screen and (max-width: 992px) {
	.page__wrapper {
		padding: 3rem 1rem;
	}
}
@media screen and (max-width: 556px) {
	.page__wrapper {
		padding: 3rem 1rem;
	}
}
