.header {
	max-width: 100%;
	padding: 3rem 1rem 1.5rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.header__container {
	position: relative;
}

.header__logo-nav {
	width: 120px;
}

.header__logo-img {
	vertical-align: middle;
	width: 100%;
}

.header__user-content {
}

.header__user-profile {
	gap: 1rem;
	padding: 0.67rem 1rem;
	border-radius: 4px;
}

.header__cart-amount {
	text-wrap: nowrap;
}

.header__cart {
	gap: 1rem;
	text-decoration: none;
}
