.header {
	max-width: 100%;
}

.header__container {
	padding: 3rem 1rem;
}

.header__logo-img {
	vertical-align: middle;
}

.header__user-content {
	padding: 0.5rem 1rem;
}

.header__user-profile {
	gap: 1rem;
}

.header__cart {
	gap: 1rem;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
	border: 1px solid #e0e0e0;
	text-decoration: none;
}
