@use './variables' as *;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.flex {
	display: flex;

	&__column {
		flex-direction: column;
	}
	&__row {
		flex-direction: row;
	}
	&__space-between {
		justify-content: space-between;
	}
	&__align-items {
		align-items: center;
	}
	&__justify-center {
		justify-content: center;
	}
	&__justify-end {
		justify-content: flex-end;
	}

	&__gap-0-5 {
		gap: 0.5rem;
	}
	&__gap-1 {
		gap: 1rem;
	}
	&__gap-1-5 {
		gap: 1.5rem;
	}
	&__gap-2 {
		gap: 2rem;
	}
	&__gap-3 {
		gap: 3rem;
	}
}

/* .justify-self-center {
	justify-self: center;
}

.align-self-center {
	align-self: center;
} */

.grid {
	display: grid;

	&__center {
		place-items: center;
	}

	&__row-1 {
		grid-row: 1;
	}

	&__row-2 {
		grid-row: 2;
	}

	&__col-1 {
		grid-column: 1;
	}

	&__col-2 {
		grid-column: 2;
	}

	&__col-3 {
		grid-column: 3;
	}
}

.d-none {
	display: none;
}

body {
	background-color: $color-light-beige;
}

button {
	cursor: pointer;
}
