.footer {
	max-width: 100%;
	// margin-top: 5rem; // Added padding to page class instead / Klara
	padding: 6rem 1rem 8rem 1rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	background-image: url('/assets/wave-footer.svg');
}

.footer__container {
	display: flex;
	flex-direction: column;
	gap: 0.6rem;
	font-style: normal;
	list-style-type: none;

	a {
		text-decoration: none;
	}
}

.footer__open-hours {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.footer__follow-us {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}
.flex-column-1-5 {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.footer__social-container {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.footer__social-link {
	padding: 0.5rem;
}

.footer__social-logo {
	vertical-align: middle;
}

.footer__horizontal-rule {
	border: none;
	height: 2px;
}

.footer__bottom-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}
