.footer {
	max-width: 100%;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding-bottom: 3rem;

	&__wave {
		background-image: url('/assets/big-wave-footer.svg');
		background-size: cover;
		width: 100%;
		height: 100px;
	}

	&__top {
		margin: 0rem 10rem 0rem 10rem;
	}
}

.footer__container {
	display: flex;
	flex-direction: column;
	gap: 0.6rem;
	font-style: normal;
	list-style-type: none;

	a {
		text-decoration: none;
	}
}

.footer__open-hours {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.footer__follow-us {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}
.flex-column-1-5 {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.footer__social-container {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.footer__social-link {
	padding: 0.5rem;
}

.footer__social-logo {
	vertical-align: middle;
}

.footer__horizontal-rule {
	border: none;
	height: 2px;
	margin: 0rem 3rem;
}

.footer__bottom-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

@media screen and (max-width: 993px) {
	.footer {
		&__top {
			margin: 0rem 3rem 0rem 3rem;
		}

		&__horizontal-rule {
			margin: 0rem 1rem;
		}
	}
}
@media screen and (max-width: 768px) {
	.footer {
		&__top {
			flex-direction: column;
			gap: 2rem;
		}
	}
}
