.background {
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	overflow: auto;
	left: 0;
	top: 0;
	background-color: rgba(5, 20, 20, 0.85);
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal {
	margin: 0 2rem;
	&__header {
		padding: 1rem 1.25rem;
		border-radius: 0.25rem 0.9rem 0rem 0rem;
	}
	&__icon {
		font-size: 2rem;
		stroke-width: 1rem;
		&:hover {
			scale: 110%;
			transition: all 0.2s ease-in-out;
		}
	}
	&__content {
		padding: 2rem 1.5rem;
	}
}
