.modalBackground {
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	overflow: auto;
	left: 0;
	top: 0;
	background-color: rgba(5, 20, 20, 0.85);
	align-items: center;
	justify-content: center;
}

.modal {
	&__header {
		padding: 1rem 1.5rem;
		border-radius: 0.25rem 0.9rem 0rem 0rem;
	}
}

.modal__content {
	padding: 2rem 1.5rem 3.5rem 1.5rem;
}
