@import '../../../../src/variables.scss';

.drink-filter {
	width: 100%;
}

.drink-filter__btn {
	background-color: transparent;
	width: 100%;
	text-align: start;
	border: 1.5px solid $color-ketchup;
	padding: 0.5rem;
}

.drink-filter__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
