@use '../../../../src/variables.scss' as *;

.main {
	padding: 1rem;
	background-color: $color-light-beige;
}

.product-list {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	gap: 1rem;
}
