@use '../../../../src/variables.scss' as *;

.main {
	padding: 1rem;
	background-color: $color-light-beige;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.product__wrapper {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 100%;
}

.product-top {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.product-list {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	gap: 1rem;
}

.filter__btn {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}

.filter__icon {
	font-size: 1.2rem;
}
