@use '../../../../src/variables.scss' as *;

.info {
	max-width: 100%;
	margin: 1rem;
	padding: 1.5rem 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	box-shadow: 0 4px 5px 2px rgba(0, 0, 0, 0.1);
	border-radius: 4px 12px 0 12px;
}

.loader {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 4px solid $color-cucumber;
	border-top-color: $color-dark-beige;
	animation: spin 0.8s linear infinite;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.info__container {
	padding: 0 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.info__text {
	text-align: center;
}

.info__return-link {
	text-align: center;
	align-self: stretch;
	text-decoration: none;
	box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.25);
}
