@use '../../../../src/variables.scss' as *;

.product-card {
	flex: 1 1 calc(25% - 16px);
	min-width: 120px;
	max-width: 120px;
	display: flex;
	flex-direction: column;
	gap: 1rem;

	.product-card__img-box {
		width: 100%;
		aspect-ratio: 1;
		background-color: $color-cucumber;
		display: grid;
		place-content: center;
		position: relative;

		.product-card__add-btn {
			padding: 1rem 2rem;
			position: absolute;
			right: 0;
			top: 0;
			background-color: $color-black;
			color: $color-light-beige;
			border-radius: 5px 0 0 15px;
			font-size: 2rem;
		}
	}

	.product-card__info-box {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;

		.product-card__title {
			font-size: $h5-size;
			font-weight: $h5-bold-weight;
		}

		.product-card__summary {
			font-size: $base-small-size;
		}

		.product-card__price {
			font-size: $base-small-size;
			font-weight: $base-bold-weight;
		}
	}
}
