@use '../../../../src/variables.scss' as *;

.product-card {
	display: flex;
	flex-direction: column;
	position: relative;

	.product-card__img-box {
		aspect-ratio: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;

		.product-card__img {
			width: 60%;
		}

		.product-card__add-btn {
			padding: 0.6rem 1.2rem;
			position: absolute;
			right: 0;
			top: 0;
			background-color: $color-black;
			color: $color-light-beige;
			border-radius: 5px 0 0 15px;
			font-size: 1.2rem;
			border: none;
		}
	}

	.product-card__info-box {
		display: flex;
		flex-direction: column;
		gap: 0.2rem;
		padding: 0.4rem;

		.quantity {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 0.5rem;
		}
	}
}

.inactive {
	z-index: 99;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(192, 192, 192, 0.7);
	pointer-events: all;
	display: grid;
	place-content: center;
}
