@use '../../../../src/variables.scss' as *;

.product-card {
	position: relative;
	gap: 1rem;
	flex: 1;
	max-width: 250px;
	&__img-box {
		aspect-ratio: 1;
		border-radius: 4px;
		justify-content: center;
		align-items: center;
		position: relative;

		.product-card__img {
			width: 60%;
		}

		.product-card__add-btn {
			padding: 0.6rem 1.2rem;
			position: absolute;
			right: 0;
			top: 0;
			border-radius: 5px 0 0 15px;
		}
	}
}

.info-box {
	gap: 1rem;
	flex: 1;
	justify-content: space-between;

	&__top {
		gap: 0.1rem;
		flex: 1;

		&--align-self {
			align-items: last baseline;
			flex: 1;
		}

		&--margin-top {
			margin-top: 0.5rem;
		}
	}
	&__bottom {
		align-items: center;
		justify-content: center;
		gap: 0.5rem;
	}
}

// .inactive {
// 	z-index: 99;
// 	position: absolute;
// 	width: 100%;
// 	height: 100%;
// 	background-color: rgba(192, 192, 192, 0.7);
// 	pointer-events: all;
// 	display: grid;
// 	place-items: center;
// }

// ! Original
// @use '../../../../src/variables.scss' as *;

// .product-card {
// 	// display: flex;
// 	// flex-direction: column;
// 	position: relative;

// 	.product-card__img-box {
// 		aspect-ratio: 1;
// 		display: flex;
// 		justify-content: center;
// 		align-items: center;
// 		position: relative;

// 		.product-card__img {
// 			width: 60%;
// 		}

// 		.product-card__add-btn {
// 			padding: 0.6rem 1.2rem;
// 			position: absolute;
// 			right: 0;
// 			top: 0;
// 			background-color: $color-black;
// 			color: $color-light-beige;
// 			border-radius: 5px 0 0 15px;
// 			font-size: 1.2rem;
// 			border: none;
// 		}
// 	}

// 	.product-card__info-box {
// 		display: flex;
// 		flex-direction: column;
// 		gap: 0.2rem;
// 		padding: 0.4rem;

// 		.quantity {
// 			display: flex;
// 			align-items: center;
// 			justify-content: center;
// 			gap: 0.5rem;
// 		}
// 	}
// }

// .inactive {
// 	z-index: 99;
// 	position: absolute;
// 	width: 100%;
// 	height: 100%;
// 	background-color: rgba(192, 192, 192, 0.7);
// 	pointer-events: all;
// 	display: grid;
// 	place-content: center;
// }
