@use '../../../../src/variables.scss' as *;

.product-card {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	.product-card__img-box {
		width: 100%;
		aspect-ratio: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;

		&.ketchup {
			background-color: $color-ketchup;
		}

		&.mustard {
			background-color: $color-mustard;
		}

		&.cucumber {
			background-color: $color-cucumber;
		}
		&.black {
			background-color: $color-black;
		}

		.product-card__img {
			width: 50%;
		}

		.product-card__add-btn {
			padding: 0.6rem 1.2rem;
			position: absolute;
			right: 0;
			top: 0;
			background-color: $color-black;
			color: $color-light-beige;
			border-radius: 5px 0 0 15px;
			font-size: 1.2rem;
			border: none;
		}
	}

	.product-card__info-box {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;

		.product-card__summary {
			font-size: $base-small-size;
		}

		.product-card__price {
			font-size: $base-small-size;
			font-weight: $base-bold-weight;
		}
	}
}

.inactive {
}
