@import '../../../../src/variables.scss';

.page {
	height: 100%;
	background-color: $color-light-beige;

	&__wrapper {
		padding: 3rem 10rem 8rem 10rem;
	}

	&__title {
		margin-bottom: 2rem;
	}
}

@media screen and (max-width: 992px) {
	.page__wrapper {
		padding: 4.5rem 3rem;
	}
}
@media screen and (max-width: 556px) {
	.page__wrapper {
		padding: 4.5rem 1.75rem;
	}
}
