.info-loading {
	max-width: 100%;
	padding: 1rem 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.4rem;
	box-shadow: 0 4px 5px 2px rgba(0, 0, 0, 0.1);
	border-radius: 4px 12px 0 12px;
}

.loader {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 4px solid $color-cucumber;
	border-top-color: $color-dark-beige;
	animation: spin 0.8s linear infinite;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.info-loading__container {
	padding: 0 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.info-loading__text {
	text-align: center;
}
