.order-page__orders {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: space-between;
	gap: 1rem;
}

.order-page__orders-container {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(100px, 100px));
	cursor: pointer;
}

.order-page__order {
	height: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
	border-radius: 4px;
	list-style-type: none;
	justify-content: center;

	&-pending {
		border: 2px solid $color-ketchup;
	}

	&-confirmed {
		border: 2px solid $color-cucumber;
	}
	&-done {
		background-color: $color-cucumber;
		color: $color-light-beige;

		svg path {
			stroke: $color-light-beige;
		}
	}
}

.order-modal-content__container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	position: relative;
}

.scroll {
	height: 350px;
	overflow-y: auto;
}

// Display scrollbar
.order-modal-content__container::-webkit-scrollbar {
	width: 5px;
}

.order-modal-content__container::-webkit-scrollbar-track {
	background: $color-light-beige;
}

.order-modal-content__container::-webkit-scrollbar-thumb {
	background: $color-cucumber;
}

.lock-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}
