.order-page__orders {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: space-between;
	gap: 3rem;
}

.order-page__orders-container {
	display: grid;
	gap: 2rem;
	grid-template-columns: 1fr 1fr;
}

.order-page__order {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	border-radius: 4px;
	padding: 1rem;
	list-style-type: none;

	&-pending {
		border: 2px solid $color-ketchup;
	}

	&-confirmed {
		border: 2px solid $color-cucumber;
	}
	&-done {
		background-color: $color-cucumber;
		color: white;
	}
}
