// Inspo from: https://codepen.io/rodica/pen/jWzGvd
@mixin button-bg($bg) {
	background: $bg;

	&:hover {
		// background: darken($bg, 8%);
		transition: all 0.3s ease;
		background: color.adjust($bg, $lightness: -8%);
	}
	&:active {
		// background: darken($bg, 25%);
		background: color.adjust($bg, $lightness: -25%);
	}
}

.btn {
	color: $color-light-beige;
	text-decoration: none;
	padding: 1rem 1rem;
	border: none;
	cursor: pointer;
	position: relative;
}

.btn-green {
	@include button-bg($color-cucumber);
}
.btn-black {
	@include button-bg($color-black);
}

.btn-brown {
	@include button-bg($color-brown);
}

.btn-red {
	@include button-bg($color-ketchup);
}

.btn-simple {
	background-color: transparent;
	padding: 0;
	// color: $color-black;
}

.btn-outlined {
	@include button-bg(transparent);

	color: $color-black;
	border: 2px solid $color-black;

	&:hover {
		transition: all 0.3s ease;
		border: 2px dotted $color-black;
	}
	&:active {
		border: 2px dotted $color-black;
	}
}

.header__logout-btn {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.notification__btn {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.notification__list {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	flex-wrap: wrap;
}

.notification__list-item {
	padding: 1rem;
	background-color: white;
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
}

.notification__status {
	margin-left: 0.3rem;
	padding: 0.2rem 0.4rem;
	border-radius: 1rem;
	color: white;
	align-self: center;
}

.notification__deleted-items {
	text-decoration: line-through;
}
