@use '../../../../src/variables.scss' as *;

.btn {
	color: $color-light-beige;
	text-decoration: none;
	padding: 1rem 1rem;
	border: none;
	cursor: pointer;
	position: relative;
}

.btn-simple {
	background-color: transparent;
	padding: 0;
	color: $color-black;
}

.header__logout-btn {
	background-color: transparent;
	border: none;
	cursor: pointer;
}
