/**
 * Updated: Klara
 * Changed the media query from 992 to 1200. 
 */

.cart {
	gap: 4rem;

	&__ctas {
		gap: 0.5rem;
	}
	&__summary {
		padding: 2rem 1.5rem;
		gap: 2rem;
		height: fit-content;
		flex: 1;
	}

	&__summary--gap {
		gap: 9rem;
	}
}

.cart__empty-text {
	text-align: center;
	margin-bottom: 0.8rem;
}

@media screen and (max-width: 1200px) {
	.cart {
		flex-direction: column;
	}
}
