@use 'sass:color';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

// ======================================
// TYPOGRAPHY CLASSES
// ======================================

// Headings (Concert One)
.heading-1 {
	font-family: $font-heading;
	font-size: $h1-size;
}

.heading-2 {
	font-family: $font-heading;
	font-size: $h2-size;
}

.heading-3 {
	font-family: $font-heading;
	font-size: $h3-size;
}

.heading-4 {
	font-family: $font-heading;
	font-size: $h4-size;
}

// heading-5 (Open Sans Bold)
.heading-5 {
	font-family: $font-base;
	font-size: $h5-size;
	font-weight: $h5-bold-weight;
}

// ======================================
// Base text
// ======================================
.base {
	font-family: $font-base;
	font-size: $base-size;
	font-weight: $base-regular-weight;
}

.base-bold {
	font-family: $font-base;
	font-size: $base-size;
	font-weight: $base-bold-weight;
}

.base-small {
	font-family: $font-base;
	font-size: $base-small-size;
	font-weight: $base-regular-weight;
}

// ======================================
// Button text
// ======================================
.btn-text {
	font-family: $font-base;
	font-size: $base-small-size;
	font-weight: $base-bold-weight;
}

// ======================================
// TEXT COLORS
// ======================================
.text-mustard {
	color: $color-mustard;
}
.text-ketchup {
	color: $color-ketchup;
}
.text-cucumber {
	color: $color-cucumber;
}
.text-dark-beige {
	color: $color-dark-beige;
}
.text-brown {
	color: $color-brown;
}
.text-grey {
	color: $color-grey;
}
.text-black {
	color: $color-black;
}
.text-light-beige {
	color: $color-light-beige;
}

// ======================================
// Text align
// ======================================

.text {
	&__left {
		text-align: left;
	}
	&__right {
		text-align: right;
	}

	&__center {
		text-align: center;
	}
}

// ======================================
// BACKGROUND COLORS
// ======================================

.bg-mustard {
	background-color: $color-mustard;
}
.bg-ketchup {
	background-color: $color-ketchup;
}
.bg-dark-ketchup {
	background-color: $color-dark-ketchup;
}
.bg-cucumber {
	background-color: $color-cucumber;
}
.bg-dark-beige {
	background-color: $color-dark-beige;
}
.bg-brown {
	background-color: $color-brown;
}
.bg-grey {
	background-color: $color-grey;
}
.bg-black {
	background-color: $color-black;
}
.bg-light-beige {
	background-color: $color-light-beige;
}
.bg-super-light-beige {
	background-color: $color-super-light-beige;
}
.bg__light-red {
	background-color: color.change($color-ketchup, $alpha: 10%);
}
.bg-none {
	background-color: transparent;
}

// ======================================
// Border radius
// ======================================

.border-radius {
	border-radius: $border-radius;
}

.border-none {
	border: none;
}

// ======================================
// Base components
// ======================================

.btn-base {
	padding: 0.5rem 1rem;
	border-radius: 4px 12px 0 12px;
}

.btn-qty-base {
	padding: 0.3rem 0.7rem;
	height: 1.8rem;
	font-size: 1rem;
	display: flex;
	align-items: center;
	box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.btn-qty-base--decrament {
	@extend .btn-qty-base;
	background-color: $color-white;
	color: $color-black;
	border-radius: 5px 0 0 12px;
}

.btn-qty-base--incrament {
	@extend .btn-qty-base;
	background-color: $color-black;
	color: $color-white;
	border-radius: 5px 0 12px 0;
}

/* Hiding class, making content visible only to screen readers but not visually */
/* "sr" meaning "screen-reader" */
.sr-only:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

// ======================================
// Flex and grid
// ======================================
.flex {
	display: flex;

	&__column {
		flex-direction: column;
	}
	&__row {
		flex-direction: row;
	}
	&__space-between {
		justify-content: space-between;
	}
	&__align-items {
		align-items: center;
	}
	&__justify-center {
		justify-content: center;
	}
	&__justify-end {
		justify-content: flex-end;
	}

	&__gap-0-5 {
		gap: 0.5rem;
	}
	&__gap-1 {
		gap: 1rem;
	}
	&__gap-1-5 {
		gap: 1.5rem;
	}
	&__gap-2 {
		gap: 2rem;
	}
	&__gap-3 {
		gap: 3rem;
	}
}

/* .justify-self-center {
	justify-self: center;
}

.align-self-center {
	align-self: center;
} */

.grid {
	display: grid;

	&__center {
		place-items: center;
	}

	&__row-1 {
		grid-row: 1;
	}

	&__row-2 {
		grid-row: 2;
	}

	&__col-1 {
		grid-column: 1;
	}

	&__col-2 {
		grid-column: 2;
	}

	&__col-3 {
		grid-column: 3;
	}
}

.d-none {
	display: none;
}

body {
	background-color: $color-light-beige;
}

button {
	cursor: pointer;
}
